<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Goal</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="dashboard-frame">
<div class="container center">
    <h2>Delete Goal</h2>
    <p>Are you sure you want to delete "<span th:text="${goal.title}"></span>"?</p>
    <form th:action="@{'/goal/delete/' + ${goal.id}}" method="post">
        <button type="submit" class="btn-danger">Delete</button>
        <a th:href="@{/}" class="btn-secondary">Cancel</a>
    </form>
</div>
</div>
</body>
</html>
